body{
    font-family:'Lexend', sans-serif;
}
.accountList{
    position: absolute;
    justify-content: center;
    top: 75px;
    right: 50px;
    width:fit-content;
    background-color: aliceblue;
    color: black;
    padding: 10px;
}