body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 24px;
    max-width: screen;
}
.form *{
    font-family: 'Lexend', sans-serif;
}
.label-text{
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 6px;
}
.label{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 24px; */
}
.input{
    padding: 12px;
    border: 2px solid #e0e0e0;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    color:#333333;
    justify-content: center;
}
.input:focus{
    border-color: #009578;
}
.input_post{
    padding: 12px;
    border: 2px solid #e0e0e0;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    color:#333333;
    word-wrap:break-word;
    block-size: auto;
    justify-content: center;
}
.input_post:focus{
    border-color: #009578;
}
.select{
    padding: 6px;
    border: 2px solid #e0e0e0;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    color:#333333;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.select:focus{
    border-color: #009578;
}
.select:has(option[value=""]:checked) {
    color: rgb(117, 117, 117);
}
option[value=""]{
    display: none;
}
option{
    color: black;
}
.send_button {
    display: inline-block;
	background-color:#65117a;
    color:#e0e0e0;
	border-radius:28px;
	border:7px solid #65117a;
	cursor:pointer;
}
.send_button:hover {
    border:7px solid #750b6e;
	background-color:#750b6e;
}