.postContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:50%;
    transform: translateX(50%);
    z-index: 1;
}
.singlePost{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 300px;
    border: 1px;
    display: flex;
    color: black;
    padding : 10px 10px;
    margin: 5px;
    z-index: 2;
}
.postBody{
    margin-top: 10px;
    margin-bottom: 5px;
}
.postTitle{
    margin-top: 0px;
    margin-bottom: 0px;;
}