.postContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:50%;
    transform: translateX(50%);
    z-index: 1;
}
.singlePost{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 300px;
    border: 1px;
    display: flex;
    color: black;
    padding : 10px;
    margin: 5px;
    padding-bottom: 20px;
    z-index: 2;
}
.inside{
    position: absolute;
    top:100%;
    transform: translateY(-40px);
    margin-top: 20px;
    width: 320px;
    height:20px;
    background-color: rgb(207, 207, 207);
    z-index: 3;
}
.postBody{
    margin-top: 5px;
    margin-bottom: 5px;
}
.postTitle{
    margin-top: 10px;
    margin-bottom: 0px;;
}
.postAuthor{
    margin: 0px;
    color: gray;
    font-size: 9px;
    align-self: flex-start;
}
.likesValue{
    margin: 0px;
    position:absolute;
    color: black;
    font-size:10px;
    right:5px;
    top:5px;
}
.likeIcon{
    position: absolute;
    top: 0px;
    left: 10px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transform: translateY(700%);
}
.likeIcon:hover{
    color: #3b3737;
}
.dislikeIcon{
    position: absolute;
    top: 0px;
    right: 10px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transform: translateY(700%);
}
.dislikeIcon:hover{
    color: #3b3737;
}
.likeIcon.liked {
    color: #28e01b !important;
}

.likeIcon.notLiked {
    color: #ffffff !important;
}