{% extends "base.html" %}
{% load static %}
{% block title %}Welcome!{% endblock %}

{% block additional_stylesheets%}
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <p>Hello! {{request.user.username}}</p>
    <a href="delete_user"> Delete user</a>
    <a href="link_account" method = "POST"> Link an account</a>
    <div class = "accountList" id="accountList"> LIST!!! </div>
    <script type="module" src="{% static 'js/accounts.js' %}">
        document.addEventListener('DOMContentLoaded', function() {
            loadAccounts();
        });
    </script>
{% endblock %}