{% extends "base.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block additional_stylesheets %}
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    {% csrf_token %}
    {% comment %} <meta name="csrf-token" tokenValue="{{ csrf_token }}"> {% endcomment %}
    <a href="{% url 'make_post' %}" class="postButton" method = "POST">What's on your mind...</a>
    <div class="postContainer" id="postContainer_ID">
    </div>
    {% endif %}
    <script type="module" src="{% static 'js/post_handler.js' %}">
        document.addEventListener('DOMContentLoaded', function() {
            loadPosts();
        });
    </script>
{% endblock %}
{% block welcome %}
    <p class = "welcomeTextTitle"> GameHub </p>
    <p> Are you looking for duo, trio or maybe a five stack? You are in the right place! Sing up now, set up a profile and find people to play with! </p>
{% endblock%}