{% extends "base.html" %}
{% load static %}
{% block additional_stylesheets%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock%}
{% block title %} Test {% endblock%}
{%block content%}
    {% csrf_token %}
    <h1> Hello this is {{author.username}} page </h1>
    <div class="accountList"> LIST!!! </div>
    <script type="module" src="{% static 'js/accounts.js' %}">
        document.addEventListener('DOMContentLoaded', function() {
            loadAccounts();
        });
    </script>
{% endblock%}